{% load static %}
<nav class="navbar navbar-expand-md mb-4 border">
    <div class="container">
        <div class="logo-container" >
            <a href="/" class="d-none d-sm-block align-items-center" style="float:left;">
                <img src="{% static 'png/PiN-logo.svg' %}" class="navbar-brand" style="height: 5rem"/>
            </a>
            <div class="logo-text" style="float:left; margin-left: -65px;">
                <h1>PiN</h1>
                <small style="color: hsl(0deg 0% 0% / 46%); top: -15px; position: relative;">Papyrologie in Nederland</small>
            </div>
        </div>
        </a>
        <ul class="navbar-nav ms-auto">
            {% for page in menu_pages %}
                <li class="nav-item">
                    {% if page.is_home %}
                        <a class="nav-link" href="/?lang={{ lang|default:'en' }}">
                            {% if lang == 'nl' %}{{ page.title_nl }}{% else %}{{ page.title_en }}{% endif %}
                        </a>
                    {% else %}
                        <a class="nav-link" href="/{{ page.name }}?lang={{ lang|default:'en' }}">
                            {% if lang == 'nl' %}{{ page.title_nl }}{% else %}{{ page.title_en }}{% endif %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
