{% load static %}
{% load year %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papyrus Sides</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap_ru.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <style>
    .fw-bold {
        font-weight: bold;
    }

    /* Flip animation using rotateY */
    @keyframes flip-horizontal 
    {
        0% 
        {
            transform: rotateY(0deg);
        }

        50% 
        {
            transform: rotateY(90deg);
        }

        51% 
        {
            transform: rotateY(-85deg);
        }

        100% 
        {
            transform: rotateY(0deg);
        }
    }

    .image-container
    {
        perspective: 800px;
    }

    .flip-horizontal 
    {
        animation: flip-horizontal 1s;
    	transform-style: preserve-3d;
        backface-visibility: visible;
    }
    </style>

    <script>

        var sides = {
            {% for side in papyrus.sides.all %}
                "{{ side.pk }}": {
                    "publication": "{{ side.publication|escapejs }}",
                    "language": "{{ side.language.name|escapejs }}",
                    "genre": "{{ side.genre.name|escapejs }}",
                    "year": "{% if side.year %}{{ side.year|ce_year|escapejs }}{% elif side.year_start and side.year_end %}{{ side.year_start|ce_year|escapejs }} - {{ side.year_end|ce_year|escapejs }}{% else %}Not specified{% endif %}",
                    "specific_date": "{{ side.specific_date|escapejs }}",
                    "content": "{{ side.content|escapejs }}",
                    "details": "{% if side.parallel %}Parallel to the fibers,{% else %}Perpendicular to the fibers,{% endif %} {% if side.flesh %}flesh,{% else %}hair,{% endif %} {% if side.concave %}concave{% else %}convex{% endif %}",
                    "reference": "{% if side.reference %}{{ side.reference|escapejs }}{% else %}None{% endif %}",
                    "links": [
                        {% for link in side.papyrus.links.all %}
                            {"url": "{{ link.url|escapejs }}", "description": "{{ link.description|escapejs }}"}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    "images": [
                        {% for image in side.images.all %}
                            {"url": "{{ image.image.url }}", "credit": "{{ image.credit|escapejs|default:'' }}"}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        };

        var currentImage = 1;

        function showSide(index) 
        {
            var side = sides[index];
            if (!side) return;
            $('#side_publication').text(side.publication);
            $('#side_language').text(side.language);
            $('#side_genre').text(side.genre);
            $('#side_year').text(side.year);
            $('#side_specific_date').text(side.specific_date);
            $('#side_content').text(side.content);
            $('#side_details').text(side.details);
            $('#side_reference').text(side.reference);

            // Links
            var linksHtml = '';
            if (side.links && side.links.length > 0) {
                side.links.forEach(function(link) {
                    linksHtml += '<a href="' + link.url + '" target="_blank">' + link.description + '</a><br>';
                });
            } else {
                linksHtml = 'None';
            }
            $('#side_links').html(linksHtml);

            // Show the table if hidden
            $('.side-table').show();
        }

        function showImage(index, animated) 
        {
            currentImage = index;

            // Animate in new images
            var $container = $('#side_images');
            var side = sides[index];
            if (!side) return;

            if (animated)
            {
                // Animate out old image
                var $img = $('#side_image img');
                $img.removeClass('flip-horizontal');
                $img.addClass('flip-horizontal');

                const halfway = 400; // trial and error
                const duration = 1000; // total animation duration

                setTimeout(function() 
                {
                    //Replace the src and credit for the single image
                    var imageData = side.images[0];
                    var imageUrl = imageData ? imageData.url : '';
                    var imageCredit = imageData ? imageData.credit : '';
                    $img.attr('src', imageUrl);
                    $img.attr('title', imageCredit);
                    $('#side_image').attr('href', imageUrl);
                }, halfway); 

                setTimeout(function() {
                    $img.removeClass('flip-horizontal');
                }, duration);               
            }
         }

        $(document).ready(function() {
            // Initially hide all side tables except the first one
            showSide(1);
            showImage(1, false);

            // Add click event to each button
            $('button[id^="side_"]').click(function() {
                var sideId = $(this).attr('id').split('_')[1];
                showSide(sideId);
                showImage(sideId, sideId != currentImage);
            });
        });

    </script>

</head>
<body>

    <nav class="navbar navbar-expand-md mb-4 border">
        <div class="container">
            <a href="https://www.ru.nl" class="d-none d-sm-block">
                <img src="https://cls.ru.nl/RU_logo.svg" class="navbar-brand" style="height: 3rem"/>
            </a>
        </div>
    </nav>

    <main class="container mb5">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Inventory Number</th>
                    <th scope="col">Material</th>
                    <th scope="col">Shape</th>
                    <th scope="col">Finding Location</th>
                    <th scope="col">Current Location</th>
                    <th scope="col">Dimensions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ papyrus.inventory_number }}</td>
                    <td>{{ papyrus.material.name }}</td>
                    <td>{{ papyrus.shape.name }}</td>
                    <td>{{ papyrus.finding_location }}</td>
                    <td>{{ papyrus.current_location }}</td>
                    <td>
                        {% if papyrus.dimensions %}
                            {% for dimension in papyrus.dimensions.all %}
                                {{ dimension.width }} x {{ dimension.height }}<br>
                            {% endfor %}
                        {% else %}
                            Not specified
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div id="side_button_area">
        {% for side in papyrus.sides.all %}
            <button class="btn btn-link" id="side_{{side.pk}}">{{ side.publication }}</button>
        {% endfor %}
        </div>


        <div class="row">
            {% with side=papyrus.sides.first %}
            <div class="col-md-8">
                <table class="table table-sm side-table" style="display:none;">
                    <tbody>
                        <tr>
                            <th scope="row">Publication</th>
                            <td id="side_publication">{{ side.publication }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Language</th>
                            <td id="side_language">{{ side.language.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Genre</th>
                            <td id="side_genre">{{ side.genre.name }}</td> 
                        </tr>
                        <tr>
                            <th scope="row">Year</th>
                            <td id="side_year">
                                {% if side.year is None %}
                                    {% if side.year_start and side.year_end %}
                                        {{ side.year_start|ce_year }} - {{ side.year_end|ce_year }}
                                    {% else %}
                                        Not specified
                                    {% endif %}
                                {% else %}
                                    {{ side.year|ce_year }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Specific date</th>
                            <td id="side_specific_date">{{ side.specific_date }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Content</th>
                            <td id="side_content">{{ side.content }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Details</th>
                            <td id="side_details">
                                {% if side.parallel %}
                                    Parallel to the fibers,
                                {% else %}
                                    Perpendicular to the fibers,
                                {% endif %}
                                {% if side.flesh %}
                                    flesh,
                                {% else %}
                                    hair,
                                {% endif %}
                                {% if side.concave %}
                                    concave
                                {% else %}
                                    convex
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">References</th>
                            <td id="side_reference">
                                {% if side.reference %}
                                    {{ side.reference }}
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Links</th>
                            <td id="side_links">
                                {% if side.papyrus.links.all %}
                                    {% for link in side.papyrus.links.all %}
                                        <a href="{{ link.url }}" target="_blank">{{ link.description }}</a><br>
                                    {% endfor %}
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endwith %}

            <div class="col-md-4 image-container" id="side_images">
            {% for image in papyrus.sides.first.images.all %}
                <a id="side_image"  href="{{ image.image.url }}" target="_blank">
                    <img src="{{ image.image.url }}" class="img-fluid mb-2" alt="Papyrus Image" style="max-width:100%;height:auto;" title="{{ image.credit|default:'' }}" />
                </a>
            {% endfor %}
        </div>

        </div>
    </main>
</body>
</html>