{% load static %}
{% load year %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papyrus Sides</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap_ru.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <script>
    let minYear = 0;
    let maxYear = 500;
    let keywords = "";

    function updateList()
    {
        let search = $("#search").val().toLowerCase();
        $("tr").each(function()
        {
            if ($(this).hasClass("header"))
            {
                return;
            }

            let title = $(this).find("td:nth-child(2)").text().toLowerCase();
            let year = parseInt($(this).attr("year"));

            let yearMatch = false;

            if (isNaN(year))
            {
                let yearStart = parseInt($(this).attr("year-start"));
                let yearEnd = parseInt($(this).attr("year-end"));

                yearMatch = (yearEnd > minYear && yearStart < maxYear);

                console.log("Year Start: " + yearStart + ", Year End: " + yearEnd + " - Match: " + yearMatch);
            }
            else
            {
                yearMatch = (year >= minYear && year <= maxYear);
            }

            if (title.includes(search) && yearMatch)
            {
                $(this).show();
            }
            else
            {
                $(this).hide();
            }
        });
    }

    function yearToString(year)
    {
        if (year < 0)
        {
            return Math.abs(year) + " BCE";
        }
        else
        {
            return year + " CE";
        }
    }

    $(function()
    {
      $("#slider-range").slider({
        range: true,
        min: -500,
        max: 500,
        values: [-500, 500],
        slide: function(event, ui)
        {
            minYear = ui.values[0];
            maxYear = ui.values[1];
            updateList();
            $("#range-indicator").text("Selected range: " + yearToString(ui.values[0]) + " - " + yearToString(ui.values[1]));
        }
      });
    });

    $(document).ready(function()
    {
        $("#search").on("input", function()
        {
            keywords = $(this).val().toLowerCase();
            updateList();
        });
    });
    </script>

</head>
<body>

    {% include 'papyrus/menu_bar.html' %}

    <main class="container mb5">
        <input type="text" id="search" class="form-control form-control-sm" placeholder="Search by title">
        <br>
        <br>

        <p id="range-indicator">Select year range: 500 BCE - 500 CE</p>

        <div id="slider-range"></div>
        <br>
        <table class="table table-sm">
            <thead>
                <tr class="header">
                    <th>Inventory nr</th>
                    <th>Publication</th>
                    <th>Content</th>
                    <th>Year</th>
                    <th>Provenance</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody>
                {% for side in papyrus_sides %}
                <tr year="{{ side.year }}" year-start="{{ side.year_start }}" year-end="{{ side.year_end }}">
                    <td><a href="/papyrus/{{ side.papyrus.pk }}">{{ side.papyrus.inventory_number }}</a></td>
                    <td>{{ side.publication }}</td>
                    <td>{{ side.content }}{% if side.content|length > 25 %}...{% endif %}</td>
                    <td>
                        {% if side.year != None %}
                            {{ side.year|ce_year }}
                        {% elif side.year_start != None and side.year_end != None %}
                            {{ side.year_start|ce_year }} - {{ side.year_end|ce_year }}
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td>{{ side.papyrus.finding_location }}</td>
                    <td>
                        {% if side.images.first %}
                            <img src="{{ side.images.first.image.url }}" alt="Thumbnail" width="100">
                        {% else %}
                            No Image
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>